@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "Dark-and-Orange";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(37% 0.034 259.733);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(87% 0.01 258.338);
  --color-primary: oklch(75% 0.183 55.934);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(71% 0.194 13.428);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

.reset-tw,
.reset-tw * {
  all: revert !important;
}
